In [1]:
x=3
y=2
x>y

True

In [2]:
x==y

False

In [4]:
money=2000
if money>=3000:
    print("택시를타고가라")
else:
    print("걸어 가라")

걸어 가라

In [15]:
삼전=80000
if 삼전>80000 :
    print('매도하고')
elif 80000>=삼전>70000 :
    print('대기하고')
else:
    print('매수한다')

대기하고

In [17]:
pocket=['paper','cellphone']
card=True
if 'money' in pocket:
    print("택시를 타고가라")
else:
    if card:
        print("택시를 타고가라")
    else:
        print("걸어 가라")

택시를 타고가라

In [19]:
pocket=['paper','cellphone']
card=True
if 'money' in pocket:
    print("택시를 타고가라")
elif card:
    print("택시를 타고가라")
else:
    print("걸어 가라")

택시를 타고가라

In [21]:
th = 0
while th <10:
    th=th+1
    print("나무를 %d번 찍었습니다" %th)
    if th == 10:
        print("나무가 넘어갑니다.")

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무가 넘어갑니다.

In [22]:
coffee= 10
money= 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d 개입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1 개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0 개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [24]:
a=0
while a<10 :
    a=a+1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

In [25]:
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [26]:
a= range(10)
a

range(0, 10)

In [27]:
a= range(1,11)
a

range(1, 11)

In [34]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j)
    print('')

2
4
6
8
10
12
14
16
18

3
6
9
12
15
18
21
24
27

4
8
12
16
20
24
28
32
36

5
10
15
20
25
30
35
40
45

6
12
18
24
30
36
42
48
54

7
14
21
28
35
42
49
56
63

8
16
24
32
40
48
56
64
72

9
18
27
36
45
54
63
72
81

In [35]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j,end="")
    print('')

24681012141618
369121518212427
4812162024283236
51015202530354045
61218243036424854
71421283542495663
81624324048566472
91827364554637281

In [36]:
a=[1,2,3,4]
result = []
for num in a:
    result.append(num*3)

In [37]:
print(result)

[3, 6, 9, 12]

In [38]:
a=[1,2,3,4,]
result = [num*3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [39]:
result=[x*y for x in range(2,10)
       for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [45]:
def add(a,b): #def (머신러닝할떄 쓴다) 기억해놓기
    return a + b

In [46]:
a=3
b=4
c=add(a,b)
print(c)

7

In [47]:
print(add(3,4))

7

In [50]:
def say():
    return 'hi'
a=say()
print(a)

hi

In [51]:
def add(a,b):
    print("%d,%d의 합은 %d입니다" % (a,b,a+b))

In [52]:
add(3,4)

3,4의 합은 7입니다

In [56]:
a=add(3,4)

3,4의 합은 7입니다

In [57]:
print(a)

None

In [58]:
def add(a,b):
    return a+b

In [59]:
result =add(a=3,b=7)
print(result)

10

In [60]:
result=add(b=5,a=3)
print(result)

8

In [66]:
def say_myself(name,old,man=True):
    print("나의 이름은 %s입니다" %name)
    print("나이는 %d살입니다" %old)
    if man :
        print("남자입니다")
    else:
        print("여자입니다")

In [67]:
say_myself("기호찬",29,True)

나의 이름은 기호찬입니다
나이는 29살입니다
남자입니다

In [69]:
say_myself("아무개",20,False)

나의 이름은 아무개입니다
나이는 20살입니다
여자입니다

In [73]:
# vartest.py
a=1
def vartest(a):
    a=a+1
vartest(a)
print(a)

1

In [78]:
add = lambda a ,b: a+b
result =add(3,4)
print(result)

7

In [75]:
def add(a,b):
    return a+b
result =add(3,4)
print(result)

7

In [79]:
number = input("숫자를 입력하세요:")

숫자를 입력하세요:3

In [80]:
print(number)

3

In [81]:
a=123
print(a)

123

In [82]:
a="python"
print(a)

python

In [83]:
a=[1,2,3]
print(a)

[1, 2, 3]

In [84]:
print("life""is""too short")

lifeistoo short

In [85]:
print("life"+"is"+"too short")

lifeistoo short

In [86]:
print("life","is","too short")

life is too short

In [89]:
for i in range(10):
    print(i,end="")

0123456789

In [100]:
f=open("새파일.txt","w")
f.close()

In [105]:
# readline.py
f=open("C:/Users/KI/새파일.txt","r", encoding='utf-8')
line = f.readline()
print(line)
f.close()

1첫번쨰 줄입니다

In [106]:
f=open("C:/Users/KI/새파일.txt","r",encoding='utf-8')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1첫번쨰 줄입니다

2첫번쨰 줄입니다

3첫번쨰 줄입니다

4첫번쨰 줄입니다

5첫번쨰 줄입니다

6첫번쨰 줄입니다

7첫번쨰 줄입니다

In [108]:
f=open("C:/Users/KI/새파일.txt","r", encoding='utf-8')
lines = f.readline()
for line in lines:
    print(line)
f.close()

1
첫
번
쨰

줄
입
니
다

In [110]:
f=open("C:/Users/KI/새파일.txt","r", encoding='utf-8')
data = f.read()
print(data)
f.close()

1첫번쨰 줄입니다
2첫번쨰 줄입니다
3첫번쨰 줄입니다
4첫번쨰 줄입니다
5첫번쨰 줄입니다
6첫번쨰 줄입니다
7첫번쨰 줄입니다

In [112]:
result = 0
def add(num):
    global result
    result += num
    return result
print(add(3))
print(add(4))

3
7

In [114]:
result1 = 0
result2 = 0
def add1(num):
    global result1
    result1 += num
    return result1

def add2(num):
    global result2
    result2 += num
    return result2
print(add1(3))
print(add1(4))
print(add2(3))
print(add2(7))

3
7
3
10

In [115]:
class Calculator:
    def __init__(self):
        self.result = 0
    def add(self,num):
        self.result += num
        return self.result
cal1=Calculator()
cal2=Calculator()
print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

In [116]:
class FourCal:
    pass

In [117]:
a=FourCal()
type(a)

__main__.FourCal

In [118]:
class FourCal:
    def setdata(self,first,second):
        self.first =first
        self.second = second

In [121]:
a=FourCal()
a.setdata(4,2)

In [122]:
def setdata(self,first,second):
    self.first =first
    self.second =second

In [125]:
a=FourCal()
a.setdata(4,2)
print(a.first)
print(a.second)

4
2

In [126]:
b=FourCal()
b.setdata(3,7)
print(b.first)

3

In [129]:
a=FourCal()
b=FourCal()
a.setdata(4,2)
b.setdata(3,7)
id(a.first)

140737107077008

In [132]:
id(b.first)

140737107076976

In [133]:
class FourCal:
    def setdata(self,first,second):
        self.first=first
        self.second=second
    def add(self):
        result =self.first +self.second
        return result

In [135]:
a=FourCal()
a.setdata(4,2)
print(a.add())

6

In [137]:
def add(self):
    result = self.first +self.second
    return result
result = a.first+a.second
print(a.add())

6

In [138]:
def mul(self):
    result =self.first*self.second
    return result
def sub(self):
    result = self.first -self.second
    return result
def div(self):
    result = self.first /self.second
    return result

In [165]:
import mod1

In [166]:
from mod1 import add,sub

In [168]:
from mod1 import*

In [175]:
import mod2

In [170]:
result = mod2.add(3,4)

In [171]:
print(result)

7

In [176]:
mod2.Math()

AttributeError: module 'mod2' has no attribute 'Math'